<div class="question container" *ngIf="question" (keydown)="onKeyDown($event)">
  <div [ngClass]="showWrongMark ? 'show': 'hide'">
    <img class="wrong-answer grow" src="assets/red-x.png" alt="red x" >
    <audio autoplay *ngIf="wrongAnswerCounter == 1">
      <source src="assets/wrong-answer.mp3" type="audio/mpeg">
    </audio>
    <audio autoplay *ngIf="wrongAnswerCounter == 2">
      <source src="assets/wrong-answer.mp3" type="audio/mpeg">
    </audio>
    <audio autoplay *ngIf="wrongAnswerCounter == 3">
      <source src="assets/wrong-answer.mp3" type="audio/mpeg">
    </audio>
  </div>

  <h2 class="question__text">{{question.question}}</h2>

  <div class="question__options">
    <div class="question__options_left-col">
      <ng-container *ngFor="let answer of question.answers; let i = index">
        <div class="flipper" [ngClass]="selectedOption[questionNumber].includes(i) ? 'flip': ''">
          <div class="question__options_rows" *ngIf="i < 3 && selectedOption[questionNumber].includes(i)">
            <div>{{ (selectedOption[questionNumber].includes(i) ? answer.text : ("Answer " + (i + 1))) }}</div>
            <div>{{ answer.score }}</div>
            <audio autoplay>
              <source src="assets/ting.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
          <div class="question__options_rows_hide_answer" *ngIf="i < 3 && !selectedOption[questionNumber].includes(i)">
            <div>
              <div>{{ (i + 1) }}</div>
            </div>
          </div>
        </div>
      </ng-container>      
    </div>

    <div class="question__options_right-col">
      <ng-container *ngFor="let answer of question.answers; let i = index">
        <div class="flipper" [ngClass]="selectedOption[questionNumber].includes(i) ? 'flip': ''">
          <div class="question__options_rows" *ngIf="i > 2 && selectedOption[questionNumber].includes(i)">
            <div>{{ (selectedOption[questionNumber].includes(i) ? answer.text : ("Answer " + (i + 1))) }}</div>
            <div>{{ answer.score }}</div>
            <audio autoplay>
              <source src="assets/ting.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
          <div class="question__options_rows_hide_answer" *ngIf="i > 2 && !selectedOption[questionNumber].includes(i)">
            <div>
              <div>{{ (i + 1) }}</div>
            </div>
          </div>
        </div>
      </ng-container>      
    </div>
  </div>

  <div class="question__btn">
    <button
      (click)="goToPrevious()"
      [disabled]="questionNumber === 1"><</button>
    <span>{{questionNumber}}/{{quizLength}}</span>
    <button
      (click)="goToNext()"
      *ngIf="questionNumber !== quizLength"
      [disabled]="questionNumber === quizLength">></button>
  </div>
</div>
<div class="question-retry" *ngIf="retries[questionNumber] > 0">
  <ng-container *ngFor="let item of [].constructor(retries[questionNumber]); let i = index">
    <img src="assets/circle_red_letter-x.png" alt="red x" >
  </ng-container>
  <span *ngIf="retries[questionNumber] > 0" (click)="retries[questionNumber] = 0">Clear</span>
</div>
