.question__text {
  color: #fff;
}

.question {
  margin-top: 30px;
  text-align: center;
}
.question h2 {
  font-size: 54px;
}

.question__btn {
  margin-top: 10px;
  display: flex;
  color: gray;
  justify-content: space-around;

  span {
    display: none;
  }
}
.question__btn button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #FFF;
  border-radius: 10px;
  height: fit-content;
  padding: 3px 20px;
  font-size: 44px;
}
.question__btn button:hover{
  color: #030752;
  background-color: #FFF;
  border: 2px solid #030752;
  cursor: pointer;
}

.question__options {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 20px solid #EF8032;
  border-radius: 60px;
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.question__options_rows {
  background-color: #f1f1f1;
  padding: 5px;
  font-size: 40px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
  margin: 10px 0;

  > div:first-child {
    background: linear-gradient(rgb(73, 98, 213) 0%, rgb(105, 136, 227) 50%, rgb(73, 98, 213) 100%) white;
    user-select: none;
    color: #fff;
    width: 90%;
    text-align: left;
    padding-left: 8px;
  }

  > div:last-child {
    background: #445bd2;
    color: #fff;
    width: 50px; 
  }
}

.question__options_rows_hide_answer {
    background-color: #f1f1f1;
    padding: 5px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin: 10px 0;
  
    > div:first-child {
      background: linear-gradient(rgb(73, 98, 213) 0%, rgb(105, 136, 227) 50%, rgb(73, 98, 213) 100%) white;
      user-select: none;
      color: #fff;
      width: 100%;
      text-align: center;
      padding-left: 8px;
    }
  }

.question__options_right-col {
  margin-left: 10px;
}