<div class="question container" *ngIf="question">
  <h2 class="question__text">{{question.question}}</h2>

  <div class="question__options">
    <div class="question__options_left-col">
      <ng-container *ngFor="let answer of question.answers; let i = index">
        <div class="question__options_rows" *ngIf="i < 3">
          <div>{{ answer.text }}</div>
          <div>{{ answer.score }}</div>
        </div>
      </ng-container>      
    </div>

    <div class="question__options_right-col">
      <ng-container *ngFor="let answer of question.answers; let i = index">
        <div class="question__options_rows" *ngIf="i > 2">
          <div>{{ answer.text }}</div>
          <div>{{ answer.score }}</div>
        </div>
      </ng-container>      
    </div>
  </div>

  <div class="question__btn">
    <button
      (click)="this.prevQuestion.emit()"
      [disabled]="questionNumber === 1"><</button>
    <span>{{questionNumber}}/{{quizLength}}</span>
    <button
      (click)="this.nextQuestion.emit()"
      *ngIf="questionNumber !== quizLength"
      [disabled]="questionNumber === quizLength">></button>
  </div>
</div>
